
  body {
    background-color: darkslategray;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8rem;
  }

  .timer {
    display: block;
  }

  